@CHARSET "utf-8";

/*
media query screen css
*/
@media screen and (min-width: 1080px) {
	.left_main {
		border-bottom-right-radius: 0;
		border-top-right-radius: 0;
		width: 50%;
	}

	.right_main {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		width: 50%;
	}
	
	.pageMoveHref{
		font-size:12px;
	}
	
	.container{
		width: 65%;
	}
}

@media screen and (max-width: 1080px) {
	.right_main {
		width: 100% !important;
	}

	.left_main {
		width: 0;
	}
	
	.pageMoveHref{
		font-size:12px;
	}
	
	.login_box {
	height: 200px;
	margin: auto;
	max-width: 300px;
	}

}

